[submodule "janus/solarized"]
	path = janus/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "janus/slim"]
	path = janus/slim
	url = http://github.com/bbommarito/vim-slim.git
[submodule "janus/less"]
	path = janus/less
	url = http://github.com/groenewege/vim-less.git
[submodule "janus/vim-slime"]
	path = janus/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "janus/vim-scratch"]
	path = janus/vim-scratch
	url = http://github.com/duff/vim-scratch.git
[submodule "janus/vim-conque"]
	path = janus/vim-conque
	url = http://github.com/rson/vim-conque.git
[submodule "janus/vim-ruby-conque"]
	path = janus/vim-ruby-conque
	url = http://github.com/sundbp/vim-ruby-conque.git
