*.swp
*~
.DS_Store
vim/janus/vim/tools/gist/doc/tags
.redcar/
.session.vim
vim/janus/vim/core/before/.netrwhist
vim/_backup/
vim/_temp/
xsession.nt51p9393
xsession.sundbp-N120
janus/slimv
lein/self-installs
emacs.d/auto-save-list
emacs.d/backups
emacs.d/*~
emacs.d/places
emacs.d/elpa
emacs.d/.smex-items
emacs.d/url
emacs.d/swank/
/emacs.d/#init.el#
lein/immutant
emacs.d/ac-comphist.dat
lein/indices/
/bin/.#lein
/live-packs/sundbp-pack/lib/pw.el
lein/repl-port
