[submodule "janus/solarized"]
	path = janus/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "janus/less"]
	path = janus/less
	url = http://github.com/groenewege/vim-less.git
  ignore = untracked
[submodule "janus/vim-slime"]
	path = janus/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
  ignore = untracked
[submodule "janus/vim-scratch"]
	path = janus/vim-scratch
	url = http://github.com/duff/vim-scratch.git
  ignore = untracked
[submodule "janus/vim-conque"]
	path = janus/vim-conque
	url = http://github.com/rson/vim-conque.git
  ignore = untracked
[submodule "janus/vim-ruby-conque"]
	path = janus/vim-ruby-conque
	url = http://github.com/sundbp/vim-ruby-conque.git
  ignore = untracked
[submodule "fonts/ubuntu-mono-powerline"]
	path = fonts/ubuntu-mono-powerline
	url = http://github.com/scotu/ubuntu-mono-powerline.git
  ignore = untracked
[submodule "janus/autotag"]
	path = janus/autotag
	url = http://github.com/vim-scripts/AutoTag
  ignore = untracked
[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
  ignore = untracked
[submodule "janus/numbers.vim"]
	path = janus/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
  ignore = untracked
[submodule "emacs.d/my-pkgs/evil"]
	path = emacs.d/my-pkgs/evil
	url = https://git.gitorious.org/evil/evil.git
[submodule "emacs.d/my-pkgs/evil-leader"]
	path = emacs.d/my-pkgs/evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/sundbp/tmux-powerline.git
[submodule "live-packs/sundbp-pack/vendor/submodules/ag"]
	path = live-packs/sundbp-pack/vendor/submodules/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "live-packs/sundbp-pack/vendor/submodules/emacs-git-gutter-fringe"]
	path = live-packs/sundbp-pack/vendor/submodules/emacs-git-gutter-fringe
	url = https://github.com/syohex/emacs-git-gutter-fringe.git
[submodule "live-packs/sundbp-pack/vendor/submodules/fringe-helper"]
	path = live-packs/sundbp-pack/vendor/submodules/fringe-helper
	url = https://github.com/nschum/fringe-helper.el.git
[submodule "live-packs/solarized-pack"]
	path = live-packs/solarized-pack
	url = https://github.com/siancu/solarized-pack.git
[submodule "live-packs/sundbp-pack/vendor/submodules/emmet-mode"]
	path = live-packs/sundbp-pack/vendor/submodules/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
